@import './reset.scss';
@import './vars.scss';

h1 {
  font-size: 1em;
  font-weight: 900;
  @media (min-width: $screen-lg-min) {
    font-size: 15em;
  }
}

h2 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 50px;
}